<div class="container-fluid contact-page">
  <h1 class="contactus">Contact Us</h1>
  <div class="contact-form col-sm-6 col-sm-offset-3">

    <%= flash[:notice] %>

    <%= form_tag("/static_pages/thank_you") do %>
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name", :required => true %>
      </div>

      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email", :required => true  %>
      </div>

      <div class="form-group">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true  %>
      </div>
  <%= submit_tag "Send",class: "btn btn-default" %>
  <% end %>
  </div> <!-- end contact form -->
</div> <!-- end container-fluid -->
