<p id="notice"><%= notice %></p>
<h1 class="heading">Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4 products">
        <% if product.image_url.present? %>
        <%= image_tag(product.image_url, class: "img-responsive carousel-image") %>
        <% end %>
         <h1><%= link_to product.name, product, class: 'productname' %></h1>
        <p><%= product.description %></p>
        <p><strong>Colour:</strong> <%= product.colour%></p>
        <p><strong>Price: £</strong> <%= product.price%></p>
      </div><!-- /col -->
    <% end %>
    <%= @test_variable %>
  </div>
</div>
<br>
<%= link_to 'New Product', new_product_path %>
