<div class="container-fluid product-show">
  <p id="notice"><%= notice %></p>
  <div class="row show" data-product-id="<%= @product.id %>">
    <div class="col-xs-12 col-md-12 thumbnail">
      <% cache @product do %>
      <h2 class="caption productname"><%= @product.name %></h2>
        <% unless @product.image_url.blank? %>
        <%= image_tag(@product.image_url, width: "550", class: "thumbnail img-zoom", data_zoom_image: @product.image_url) %>
      <% end %>
      <% end %>
      <div class="col-xs-12 product-description">
        <p>
          <strong>Product Colour:</strong>
          <%= @product.colour %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
      </div>
      <div class="specs">
        <p class="price">
          <strong>Price:£</strong>
        <%= @product.price %>
        </p>
        <p>Average Rating: <div class="rated" id id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
        <h6>
          Views:
          <span class="badge">
            <%= @product.views %>
          </span>
        </h6>
        <div>
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
       </div>

      </div>
    </div>

    <% if signed_in? %>
      <div class="pages col-sm-12">
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <%= render "new_comment" %>
        <%= render "comments" %>
      </div>
    <% end %>
    <div class="pages col-sm-12">
      <%= will_paginate @comments %>
    </div>

    <%= link_to 'Edit', edit_product_path(@product),  class:'btn btn-warning' %> |
    <%= link_to 'Back', products_path, class:'btn btn-default' %> |
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?'},  class:'btn btn-danger' %>
  </div>
</div>
